<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spy Turtle</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  </head>
  <body>
   <h1>SpyTurtle!</h1>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="container text-center">
        <div class="row">
          <h1>Welcome to SpyTurtle!</h1>
        </div>
        <div class="row">
          <div class="">
            <img
              id="displayedImage"
              alt="Video Frame"
              class="mt-2 border border-secondary"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      var socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      socket.on("connect", function () {
        console.log("WebSocket connected");
      });

      socket.on("disconnect", function () {
        console.log("WebSocket disconnected");
      });

      socket.on("display_frame", function (data) {
        var img = document.getElementById("displayedImage");
        img.src = data.data;
      });
    </script>
  </body>
</html>
